$blue: #3765c2;
$bodyFont: 'Montserrat', sans-serif;

.movie-card {
	font-family: $bodyFont;
	text-align: center;
}

.movie-text {
	color: $blue;
}

.movie-card-button {
	background-color: $blue;
	color: white;
}
