$blue: #3765c2;
$gold: #7e6e1c;
$bodyFont: 'Montserrat', sans-serif;

.main-view {
	font-family: $bodyFont;
}

.navbar {
	background-color: white;
	color: red;
}

h1 {
	font-weight: 700;
	color: $gold;
	font-size: 24px;
}

.main-nav-button-container {
	margin-right: 5px;
}

.main-nav-button {
	background-color: $blue;
	border: none;
	display: block;
	margin: 10px 10px 10px auto;
	transition: 0.4s;
}

.main-nav-button:hover {
	background-color: $gold;
}
