$blue: #3765c2;
$gold: #7e6e1c;
$bodyFont: 'Montserrat', sans-serif;

.genre-details-card {
	width: 75%;
	display: inline-flex;
}

.genre-view {
	font-family: $bodyFont;
}

.genre-name {
	font-weight: 700;
	color: $gold;
	font-size: 20px;
}

.genre-name, .genre-description {
	padding: 20px 20px 0px 20px;
}

.genre-description {
	color: $blue;
	font-size: 16px;
	font-weight: 500;
}

.back-to-main-button {
	background-color: $gold;
	border: none;
	margin: 10px;
	transition: 0.4s;
}

.back-to-main-button:hover {
	background-color: $blue;
}
