$blue: #3765c2;
$gold: #7e6e1c;
$bodyFont: 'Montserrat', sans-serif;

.profile-view {
	font-family: $bodyFont;
}

h1 {
	font-weight: 700;
	color: $gold;
	font-size: 20px;
}

.profile-title {
	padding: 20px 20px 0px 20px;
}

.card-content {
	color: $blue;
	font-size: 16px;
	font-weight: 500;
}

.label,
.form-label {
	font-weight: 700;
	color: $blue;
}

.profile-button {
	margin: auto;
}

.button-container {
	margin: auto;
}

.profile-button {
	background-color: $gold;
	border: none;
	margin: 10px;
	transition: 0.4s;
}

.profile-button:hover {
	background-color: $blue;
}
