$blue: #3765c2;
$gold: #7e6e1c;
$bodyFont: 'Montserrat', sans-serif;

.movie-view {
	margin-top: 10px;
}

.movie-poster-card {
	width: 25%;
	display: inline-flex;
	border: none;
	margin-right: 10px;
}

.movie-details-card {
	width: 70%;
	display: inline-flex;
}

.movie-poster {
	width: 100%;
}

.movie-view {
	font-family: $bodyFont;
}

.movie-title {
	font-weight: 700;
	color: $gold;
	font-size: 24px;
	text-align: center;
}

.movie-title,
.movie-description {
	padding: 20px 20px 0px 20px;
}

.card-content {
	color: $blue;
	font-size: 16px;
	font-weight: 500;
}

.label {
	font-weight: 700;
}

.navigation-buttons {
	margin: auto;
}

.movie-view-button {
	background-color: $gold;
	border: none;
	margin: 10px;
	transition: 0.4s;
}

.movie-view-button:hover {
	background-color: $blue;
}

.favorites-button-container {
	padding-left: 10px;
}

.favorites-button {
	background-color: $blue;
}

.favorites-button:hover {
	background-color: $gold;
}
