$blue: #3765c2;
$gold: #7e6e1c;
$bodyFont: 'Montserrat', sans-serif;

.login-form {
	font-family: $bodyFont;
	color: $blue;
	margin: 20px;
}

h1 {
	font-weight: 800;
	color: $gold;
}

.form-label {
	font-weight: 500;
}

.login-view-button {
	background-color: $blue;
	border: none;
	transition: 0.4s;
}

.login-view-button:hover {
	background-color: $gold;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}