$blue: #3765c2;
$gold: #7e6e1c;
$bodyFont: 'Montserrat', sans-serif;

.login-form {
	font-family: $bodyFont;
	color: $blue;
}

h2 {
	font-weight: 800;
	color: $gold;
}

.login-button {
	background-color: $blue;
	border: none;
}

.login-button:hover {
	background-color: $gold;
}
